<h1>Node.js - Trabalho 05: Formulário de Cadastro de alunos</h1>

<form action="/informacoes" method="POST">
 
        Aluno: <input type="text" name="nome"><br><br>
        Matricula: <input type="text" name="matricula"><br><br>
        Data de nascimento: <input type="text"  placeholder="dd/mm/aaaa" name="nascimento"><br><br>
        
    <button type="submit">Cadastrar</button>
    
</form>